<h1><%= @user.name %>'s client</h1></br>


<h2><%= @client.name %></h2>
<ul>
  <li><h3>Email: <%= @client.email %></h3></li>
  <li><h3>Phone Number: <%= @client.phone_number %></h3></li>
</ul>

<form method="post" action="/clients/<%=@client.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Client">
</form>

<form method="post" action="/clients/<%=@client.id%>/edit">
  <input id="hidden" type="hidden" name="_method" value="GET">
  <input type="submit" value="Edit Client">
</form>

<form method="post" action="/clients">
  <input id="hidden" type="hidden" name="_method" value="GET">
  <input type="submit" value="Back to List of Clients">
</form>

<h2>Projects</h2>

<% @client.projects.each do |client| %>
    <h3> <a href="/projects/<%= project.id %>"> <%= project.name %></a> </h3>
<% end %>

<form method="post" action="/projects/new">
  <input id="hidden" type="hidden" name="_method" value="GET">
  <input type="submit" value="Add Project">
</form>
