<h1><%= @client.name %>'s custom furniture project</h1>
<h2><%= @project.furniture_type %></h2>
<h2><%= @project.material %></h2>
<h2><%= @project.description %></h2>
<h2><%= @project.status %></h2>
<h2><%= @project.price_to_client %></h2>
<h2><%= @project.profit %></h2>
